/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

select {
  -webkit-appearance: none;
}